 html{
     scroll-behavior:smooth;
 }
*{margin: 0;padding: 0;
  box-sizing: border-box;
}

 .container{
     max-width: 1300px;
     margin: auto;
 }
 .row{
     max-width: 100%;
 }
 .row::after{
   content: '';
   clear: both;
   display: block;
 }
 [class*='col-']{
     float: left;
     padding: 15px;
 }
 [class*='col-']{
     width: 100%;
 }
 /*header start from here*/
 header{
    background-color: aquamarine;
    text-align: center;
    padding: 0% 1%;
}
i.fa.fa-cutlery {
    font-size: 52px;
    color: white;
    border: 4px solid white;
    padding: 18px;
    border-radius: 52px;
}
nav ul li{
    display: block;
    
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    line-height: 70px;
    padding: 0 20px;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: 0.3s;
}
nav ul li a:hover{
    border-radius: 10px;
    background-color: black;
}
/*header ends here*/
/*banner section start here*/
#banner-section{
    background-image: url('image2/banner.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-content{
    padding: 50px 10px;
    text-align: center;
}
.banner-content h1{
    width: 100%;
    margin: 15px auto;
    font-size: 3rem;
    background:cadetblue;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.banner-content p{
    width: 300px;
    margin: 15px auto;
    background: greenyellow;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
}
.btn{
   width: 150px;
   padding: 10px;
   font-size: 1rem;
   outline:none;
   border-radius: 5px;
   background-color: hotpink;
   text-transform: uppercase;
   color: white;
   font-weight: 600;
   transition: 0.5s;
}
.btn:hover{
    transform: scale(1.2);
}
/*about us start here*/
 #about-us{
     padding: 1%;
 }
 .about-us-content{
     text-align: center;
 }
 .about-us-content h1{
     margin-bottom: 10px;
     text-transform: uppercase;
 }
 #menu-section{
     padding: 1%;
 }
 .card-body{
     text-align: center;
 }
 .card-body img{
     width: 100%;
     height: auto;
    display: block;
 }
 .item-des{
    background-color: tomato;
    color: white;
 }
 .item-des h3{
     color: green;
     background-color: greenyellow;
     padding: 10px;
 }
 .item-des > p{
     margin: 8px;
     font-weight: bold;
 }
 .card{
     transition: 0.5s;
 }
 .card:hover{
     transform: scale(1.05);
 }
 #contact{
     background-color: khaki;
 }
 .map{
     width: 100%;
     height: 250px;
 }
 .contact-details{
     text-align: center;
 }
 /*footer start from here*/
 footer{
     padding: 1%;
     color: white;
     background-color: teal;
 }
 footer p{
     line-height: 32px;
     font-size: 0.8rem;
     text-align: center;
 }
 .social-menu{
     text-align: center;
 }
 .akbor{
     color: white;
     width: 32px;
     height: 32px;
     line-height: 32px;
     border: 1px solid red;
     border-radius:50% ;
     margin: 0 10px;
     transition: .4s;
     text-align: center;
 }
 .akbor:hover{
     transform: scale(1.2);
     background-color: greenyellow;
 }
/*style for smoll screen*/
@media only screen and (min-width: 570px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
   /*style for medium screen*/
  @media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
  }
 /*style for big sceen*/
 @media only screen and (min-width: 992px) {
    /* For desktops: */
    .logo-div{
        text-align: left;
        
    }
    nav ul{
        text-align: right;
    }
    nav ul li{
       display: inline-block;
    }
    nav ul li a{
        display: inline-block;
    }
    nav ul li a:hover{
        background-color: transparent;
        transform: scale(1.2);
    }

    #banner-section{
        position: relative;
        height: 100vh;
    }
    .banner-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .banner-content h1{
        width: 700px;
        font-size: 3.5rem;
    }
    footer p{
       text-align: left;
    }
    .social-menu{
        text-align: right;
    }
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
  }